.chart-bar {
}

.top-pane {
    -fx-background-color: #4c5256;
}

.btn-start {
    -fx-background-color: #D9D9D9;
}

.chart-pane {
    -fx-background-color: #FFFFFF;
}

.start-pane {
    -fx-background-color: #479761;
}

.start-pane-running {
    -fx-background-color: #9E5A63;
}

.time-pane {
    -fx-background-color: #0e3147;
}

.stats-pane {
    -fx-background-color: #487698;
}

.num-paths-pane {
    -fx-background-color: #3B8BEB;
}

.branches-pruned-pane {
    -fx-background-color: #5DA2D5;
}

.chart {
    -fx-font-family: "Roboto Light";
}

/*

.top-pane {
    -fx-background-color: #607d8b;
}

.start-pane {
    -fx-background-color: #54e69d;
}

.time-pane {
    -fx-background-color: #ffc36d;
}

.stats-pane {
    -fx-background-color: #2dabe5;
}

.num-paths-pane {
    -fx-background-color: #fe7675;
}*/
