.chart-bar {
}

.top-pane {
    -fx-background-color: #607d8b;
}

.btn-start {
    -fx-background-color: #D9D9D9;
}

.chart-pane {
    -fx-background-color: #FFFFFF;
}

.start-pane {
    -fx-background-color: #54e69d;
}

.time-pane {
    -fx-background-color: #ffc36d;
}

.stats-pane {
    -fx-background-color: #2dabe5;
}

.num-paths-pane {
    -fx-background-color: #fe7675;
}

.chart {
    -fx-font-family: "Roboto Light";
}
